<mat-toolbar class="position-absolute" color="primary" style="color: aquamarine">
  <mat-toolbar-row class="justify-content-between">
    <button [routerLink]="['/login']" mat-button style="border: 3px solid #000; background-color: rgb(80, 175, 250);	color: black;">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="d-flex align-items-center h-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <mat-card>
          <h3 class="text-center" style="font-size: 36px;">Welcome to the portal</h3>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div class="card">
    <form [formGroup]="userForm">
      <div class="mt-5">
        <div class="form-row">

          <div class="col-md-12">
            <div class="form-group">
              <label>ID</label>
            </div>
            <div class="form-row">
              <div class="col">
                <input type="number" formControlName="id" class="form-control">
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Name</label>
            </div>
            <div class="form-row">
              <div class="col">
                <input type="text" formControlName="name" class="form-control">
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Task</label>
            </div>
            <div class="form-row">
              <div class="col">
                <input type="text" formControlName="task" class="form-control">
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Deadline</label>
            </div>
            <div class="form-row">
              <div class="col">
                <input type="text" formControlName="deadline" class="form-control">
              </div>
            </div>
          </div>

          <div class="form-row mt-4">
            <div class="col-md-6">
              <button type="button" class="btn btn-primary" (click)="addItem()">
                Add
              </button>&nbsp;
              <button type="button" class="btn btn-primary" (click)="reset()">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="col-md-8 mt-4 mb-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>EmpID</th>
            <th>Name</th>
            <th>Task</th>
            <th>Deadline</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listData">
            <td><span>{{item.id}}</span></td>
            <td><span>{{item.name}}</span></td>
            <td><span>{{item.task}}</span></td>
            <td><span>{{item.deadline}}</span></td>
            <td><button type="button" class="btn btn-primary" (click)="removeItem(item)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
